Intro intro hi hallo *add information later

Leading question:  

Find out, if there might be a difference in salary depending on an employee's gender and/or minority affiliation. What role does the job category play?

Steps we think we should do(*brainstorming):
- load data
- get a feeling about the data (quick EDA)
- data cleaning 
- train linear regression (looking for gender / minories)
- create some random plots showing the gender distribution
- create pairplots
- data cleaning again
- outlier detection

- split the data
- check different metrics (e.g. RMSE*,MSE,R2*,adj.R2,MAPE,MAE)

- figure out our target(salary!) / our features
- correlation matrix 

Steps we think we should do(*in sequence? NO ITERATIVELY):
- load data
- get a feeling about the data (quick EDA, pairplots, Correlations)
- data cleaning / outlier detection (if necessary) 
- train/test splitting
- train linear regression (looking for gender / minories)
- check different metrics (RMSE,R2)
- tweak our model for better results (feature engineering)
- analyse based on LR model whats going on
- show this in plots/other convincing form to make our point
- error analysis (paterns in resid, bias/variance etc)

- tweak our model for better generalization (regularization etc)

## Metrics for evaluation
We start with using RMSE and R2 to work on this as sort of a profiling analysis
later, to check how well our model generalizes we are useing RMSE

### imports

In [2]:
#Import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# Set figure stile and size for entire notebook
plt.rcParams["figure.figsize"] = (7,4)

In [3]:
# Import dataset 
df_salaries = pd.read_csv("data/salaries.asc",sep='\t')
df_salaries.head()

,IDNUMBER,SALARY,LOGSAL,EDUC,SALBEGIN,LOGSALBEGIN,GENDER,MINORITY,JOBCAT
0,1,57000,10.950807,15,27000,10.203592,1,0,3
1,2,40200,10.601622,16,18750,9.838949,1,0,1
2,3,21450,9.973480,12,12000,9.392662,0,0,1
3,4,21900,9.994242,8,13200,9.487972,0,0,1
4,5,45000,10.714418,15,21000,9.952278,1,0,1